!= js('js/lib/jquery')
script(type='text/javascript', src='js/lib/raphael.js')
//<script type="text/javascript" src="/socket.io/socket.io.js"></script> 
script(type='text/javascript', src='js/game.js')
link(rel='stylesheet', href='css/style.css')

head
	title Ball experiment
body#main
